<h2>Welcome to CSE Motors!</h2>
<div class="feature-card">
    <div class="feature-details"> <!-- This will be temporary-->
        <h3>DMC Delorean</h3>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <img src="/images/site/own_today.png" alt="own today" class="feature-button">
    </div>
    <img src="/images/vehicles/delorean.jpg" alt="Feature" class="feature-vehicle">
</div>
<div> <!-- This will be a 2 column table -->
    <div>
        <h4>Delorean Upgrades</h4>
        <ul class="upgrade-list">
            <li><img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor"><a href="/">Flux Capacitor</a></li>
            <li><img src="/images/upgrades/flame.jpg" alt="Flame Decals"><a href="/">Flame Decals</a></li>
            <li><img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker"><a href="/">Bumper Stickers</a></li>
            <li><img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps"><a href="/">Hub Caps</a></li>
        </ul>
    </div>
    <div>
        <h4>DMC Delorean Reviews</h4>
        <ul class="review-list">
            <li>"So fast it's almost like travelling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</div>