/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
  /* padding: 0;
  margin: 0; */
}

#top-header a {
  text-decoration: none;
  color: black;
}

#top-header {
  display: flex;
  justify-content: space-between;
}

.siteName {
  font-size: 2.5em;
}

.feature-button {
  cursor: pointer;
  width: 100px;
}

.feature-vehicle {
  width: 100%;
  z-index: 0;
}

.feature-card {
  position: relative;
}

.feature-details {
  position: absolute;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  line-height: 1px;
  color: blue;
}

.upgrade-list {
  list-style-type: none;
  padding-left: 0;
}

.review-list {
  list-style-position: inside;
  padding-left: 0;
}

.nav-container {
  margin: 50px 0 20px 0;
  background-color: darkblue;
  padding: 10px;
}

.nav-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding-left: 0;
  font-size: 20px;
}

.nav-container a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.stuff-container {
  display: flex;
  flex-direction: column-reverse;
}

.upgrade-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.upgrade-list li {
  width: 8em;
  text-align: center;
  margin: 10px;
}

.upgrade-img-holder {
  padding: 10px;
  height: 100px;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

#inv-display {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 0.75em;
  gap: 10px;
}

#inv-display img {
  height: 10em;
  padding-top: 10px;
}

#inv-display li {
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  height: 200px;
}

.highlight {
  font-weight: bold;
}

.vehicle-details {
  display: flex;
  flex-direction: column;
}

.bg-gray {
  background-color:rgba(128,128,128,0.2);
}

.vehicle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.details {
  justify-content: center;
  text-align: center;
}

.vehicle-image img {
  margin-top: 45px;
  border: 1px solid black;
  width: 100%;
}

.form-container {
  background-color: darkblue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid orange;
  width: 500px;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  /* This is for devices with screen size more than 600px */
  body {
    background-image: url(/images/site/checkerboard.jpg);
    display: flex;
    justify-content: center;
    font-size: 32px;
  }

  #wrapper {
    margin: 30px 0 30px 0;
    background-color: white;
    width: 1500px;
    padding: 20px;
    border: 5px solid skyblue;
    border-radius: 20px;
  }

  .feature-vehicle {
    width: 50%;
  }

  .feature-card {
    display: flex;
    justify-content: center;
  }

  .feature-details {
    left: 25%;
    /* font-size: 30px; */
  }

  .feature-button {
    width: 200px;
  }

  .stuff-container {
    display: flex;
    flex-direction: row;
  }

  .stuff {
    width: 50%;
  }

  .upgrade-list {
    justify-content: start;
  }

  .nav-container ul {
    flex-direction: row;
    justify-content: space-around;
  }

  #inv-display img {
    height: 7em;
  }

  #inv-display {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #inv-display li {
    height: 400px;
    width: 400px;
  }

  .vehicle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .vehicle-details {
    display: flex;
    width: 60%;
  }
  
  .bg-gray {
    padding: 20px; 
  }
  
  .bg-non-gray {
    padding: 0 0 20px 20px;
  }
}